# Created by https://www.gitignore.io

### OSX ###
.DS_Store

### Pycharm IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Django ###
*.log
*.pot
*.pyc
__pycache__/
**/__pycache__/
local_settings.py

.env
db.sqlite3